@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gaegu", cursive;
}

html {
  height: 100vh;
  background: #111;
}

.header {
  height: 70px;
  border-bottom: 5px solid #444;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.header__heading {
  font-size: 3rem;
  font-weight: 700;
  color: #ccc;
}
@media (max-width: 350px) {
  .header__heading {
    font-size: 2.5rem;
  }
}
.header__hamburger {
  border: none;
  padding: 0.5rem;
  background: #444;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
}
.header__hamburger:hover {
  background: #333;
}
.header__hamburger:hover > .header__svg {
  fill: #bbb;
}
.header__svg {
  fill: #ccc;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.menu {
  width: 90vw;
  max-width: 500px;
  padding: 1.5rem;
  background: #444;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2rem;
}
@media (max-height: 350px) {
  .menu {
    margin-top: 0.5rem;
  }
}
.menu__heading {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
.menu__heading::after {
  content: "";
  height: 3px;
  width: 60px;
  background: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.menu__btn {
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0;
  background: #ddd;
  transition: 300ms;
}
.menu__btn:hover {
  cursor: pointer;
  background: #bbb;
}
.menu__btn {
  margin-top: 1rem;
}

.main-menu {
  display: flex;
  flex-direction: column;
}

.new-game-menu {
  display: flex;
  flex-direction: column;
}
.new-game-menu__players {
  display: flex;
  flex-direction: column;
}
.new-game-menu__player-label, .new-game-menu__radio-label {
  color: white;
  font-size: 1.25rem;
}
.new-game-menu__player-label + .new-game-menu__player-label {
  margin-top: 1rem;
}
.new-game-menu__player-input {
  width: 100%;
  padding: 0.25rem;
  font-size: 1.25rem;
  background: #ddd;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
}
.new-game-menu__sub-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
.new-game-menu__sub-heading::after {
  content: "";
  height: 2px;
  width: 30px;
  background: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.new-game-menu__radio-container {
  background: #555;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.new-game-menu__radio-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.new-game-menu__radio-label {
  margin: 0 1rem;
  margin-top: 1rem;
}
.new-game-menu__radio-input {
  margin-right: 0.5rem;
}
.new-game-menu__radio-label, .new-game-menu__radio-input {
  cursor: pointer;
}

.game__board {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  background: #444;
  border: 0.5rem solid #444;
}
@media (max-width: 650px), (max-height: 650px) {
  .game__board {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 550px), (max-height: 550px) {
  .game__board {
    height: 200px;
    width: 200px;
    gap: 0.25rem;
    border: 0.25rem solid #444;
  }
}
@media (max-height: 415px) {
  .game__board {
    height: 150px;
    width: 150px;
  }
}
.game__prompt-container {
  color: white;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}
@media (max-height: 415px) {
  .game__prompt-container {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
}
.game__continue {
  font-size: 1.25rem;
  background: #ddd;
  border: none;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: 300ms;
}
.game__continue:hover {
  background: #bbb;
}
.game__square {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: white;
}
.game__square--winner {
  stroke: red;
}
.game__svg {
  width: 60%;
}
.game__path {
  fill: none;
  stroke-width: 1.42416;
}
.game__path--animate-x-1, .game__path--animate-x-2 {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 0.5s linear forwards;
}
@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.game__path--animate-x-2 {
  animation: dash 0.5s linear forwards 0.3s;
}
.game__path--animate-o {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: dash 0.7s linear forwards;
}
@keyframes dash {
  from {
    stroke-dashoffset: 150;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.hidden {
  display: none;
}