@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

$color1: #ccc;

@mixin centerX() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin strokeAnimation($offset) {
  @keyframes dash {
    from {
      stroke-dashoffset: $offset;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gaegu', cursive;
}

html {
  height: 100vh;
  background: #111;
}

.header {
  height: 70px;
  border-bottom: 5px solid #444;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 700;
    color: #ccc;

    @media (max-width: 350px) {
      font-size: 2.5rem;
    }    
  }

  &__hamburger {
    border: none;
    padding: 0.5rem;
    background: #444;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background: #333;
    }

    &:hover > .header__svg {
      fill: #bbb;
    }
  }

  &__svg {
    fill: #ccc;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
}

.menu {
  width: 90vw;
  max-width: 500px;
  padding: 1.5rem;
  background: #444;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2rem;

  @media (max-height: 350px) {
    margin-top: 0.5rem;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    position: relative;
    @include centerX();
    display: inline-block;

    &::after {
      content: '';
      height: 3px;
      width: 60px;
      background: white;
      position: absolute;
      top: 100%;
      @include centerX();
    }
  }

  &__btn {
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 0;
    background: #ddd;
    transition: 300ms;

    &:hover {
      cursor: pointer;
      background: #bbb;
    }
  }

  &__btn {
    margin-top: 1rem;
  }
}

.main-menu {
  display: flex;
  flex-direction: column;
}

.new-game-menu {
  display: flex;
  flex-direction: column;

  &__players {
    display: flex;
    flex-direction: column;
  }

  &__player-label,
  &__radio-label {
    color: white;
    font-size: 1.25rem;
  }

  &__player-label + &__player-label {
    margin-top: 1rem;
  }

  &__player-input {
    width: 100%;
    padding: 0.25rem;
    font-size: 1.25rem;
    background: #ddd;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
  }

  &__sub-heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    position: relative;
    @include centerX();
    display: inline-block;

    &::after {
      content: '';
      height: 2px;
      width: 30px;
      background: white;
      position: absolute;
      top: 100%;
      @include centerX();
    }
  }

  &__radio-container {
    background: #555;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
  }

  &__radio-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__radio-label {
    margin: 0 1rem;
    margin-top: 1rem;
  }

  &__radio-input {
    margin-right: 0.5rem;
  }

  &__radio-label,
  &__radio-input {
    cursor: pointer;
  }
}

.game {
  &__board {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    margin-top: 2rem;    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    background: #444;
    border: 0.5rem solid #444;

    @media (max-width: 650px), (max-height: 650px) {
      height: 300px;
      width: 300px;
    }

    @media (max-width: 550px), (max-height: 550px) {
      height: 200px;
      width: 200px;
      gap: 0.25rem;
      border: 0.25rem solid #444;
    }

    @media (max-height: 415px) {
      height: 150px;
      width: 150px;
    }
  }

  &__prompt-container {
    color: white;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;

    @media (max-height: 415px) {
      margin-top: 0.5rem;
      font-size: 0.9rem;
    }
  }

  &__continue {
    font-size: 1.25rem;
    background: #ddd;
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background: #bbb;
    }
  }

  &__square {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: white;
  }

  &__square--winner {
    stroke: red;
  }

  &__svg {
    width: 60%;
    
  }

  &__path {
    fill: none;
    stroke-width:1.42416;
  }

  &__path--animate-x-1, &__path--animate-x-2 {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 0.5s linear forwards;
    @include strokeAnimation(100);
  }

  &__path--animate-x-2 {
    animation: dash 0.5s linear forwards 0.3s;  
  }

  &__path--animate-o {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: dash 0.7s linear forwards;
    @include strokeAnimation(150);
  }  
}

.hidden {
  display: none;
}
